<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-info">Seed Users</a>

<a asp-action="SeedGenres" asp-controller="Seed" class="btn btn-info">Seed Genres</a>

<a asp-action="SeedBooks" asp-controller="Seed" class="btn btn-info">Seed Books</a>

<a asp-action="SeedPromotions" asp-controller="Seed" class="btn btn-info">Seed Promotions</a>



<a asp-action="SeedReviews" asp-controller="Seed" class="btn btn-info">Seed Reviews</a>

<a asp-action="SeedPaymentMethods" asp-controller="Seed" class="btn btn-info">Seed Payment Methods</a>



<a asp-action="SeedOrders" asp-controller="Seed" class="btn btn-info">Seed Orders</a>

<a asp-action="SeedOrderDetails" asp-controller="Seed" class="btn btn-info">Seed Order Details</a>

<a asp-action="SeedProcurementOrders" asp-controller="Seed" class="btn btn-info">Seed Procurement Orders</a>

<a asp-action="SeedProcurementDetails" asp-controller="Seed" class="btn btn-info">Seed Procurement Details</a>